# Virtual Environment
.venv/
__pycache__/
*.pyc

# Local databases & environment files
ml-service/neurotunes.db
ml-service/.env
.env
.env.local
frontend/.env.local
frontend/.env
*.env*

# Large archives and binaries
*.zip
*.tar.gz
ml-service/ngrok-v3-stable-windows-amd64/
ml-service/ngrok-v3-stable-windows-amd64.zip

# Node modules and build files
node_modules/
backend-node/node_modules/
frontend/node_modules/
frontend/.next/
frontend/out/
# Vector Store and Downloaded Files
ml-service/chroma_db/
ml-service/static/downloads/
*.log

